<div id="flash">
  <% if flash[:notice] %>
    <div class="alert-content">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="fa fa-check" aria-hidden="true"></i>
        <%= flash[:notice] %>
      </div>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert-content">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fa fa-times" aria-hidden="true"></i>
        <%= flash[:alert] %>
      </div>
    </div>
  <% end %>
</div>
